.nav {
    font-size: calc(1vmin + 1rem);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: max-content;
    margin: 0 auto;
    z-index: 1000000;
    background-color: var(--primary-white);
    transition: transform 0.3s linear;
}

.nav.trans {
    transform: translateY(-70px);
}


.nav.trans .menu-toggle{
    top: 0;
}
.nav.sticky.trans .menu-toggle{
    top: 20px ;
}
.nav.sticky.trans ul.menus .menu-toggle{
    padding-top: 90px;
}
.nav-main {
    display: flex;
    justify-content: space-between;
}

.nav-main .logo,
.nav .nav-main button {
    width: var(--nav-main-width);
    height: var(--nav-main-height);
    background-color: var(--primary-blue);
    color: var(--secondary-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1vmin + 1rem);
}
.nav-main .logo{
    padding: 15px;
}
.nav-main .logo img {
    width: 173.6px;
    height: 56px;
}

.nav-main .briefs {
    flex-grow: 1;
    height: calc(var(--nav-main-height) - 24px);
    background-color: var(--secondary-blue);
    color: var(--primary-white);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.nav-main .briefs .title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    padding: 5px;
    font-size: .8rem;
    z-index: 10;
}

.nav-main .briefs ul {
    display: flex;
    align-items: center;
    line-height: 1.3;
    animation: slide 30s linear infinite;

}

.nav-main .briefs ul li {
    list-style-type: none;
    white-space: nowrap;
    padding: 0 20px;
    position: relative;
    font-size: 1rem;
}

.nav-main .briefs ul li::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    padding: 1px;
    height: 100%;
    margin-left: 10px;
    background-color: var(--primary-white);
}

.nav-main .briefs ul li:last-child:after {
    display: none;
}

.nav-main .briefs a {
    color: gold;
}

.nav ul.menus {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: 70px;
    background-color: var(--secondary-white);

}

ul.menus li {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-weight: 550;
    cursor: pointer;
    transition: padding 0.2s, background 0.2s, color 0.2s;
    position: relative;
}
.nav ul.menus li a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav.responsive ul.menus li a{
    justify-content: flex-start;
}
.nav li .drop-list{
    position: absolute;
    top: 70px;
    left: 0;
    width: 250px;
    background-color: var(--primary-white);
    opacity: 0;
    z-index: -1000;
    height: 0px;
    overflow: hidden;
    box-shadow: 2px 2px 5px var(--medium-black);
    transform: translateY(-70%) scaleY(.3);
    transition: 0.2s, opacity 0.2s 0.05s;
}
.nav:not(.responsive) ul.menus li.dropdown:last-of-type .drop-list{
    left: -100%;
}

.nav.responsive li.dropdown.active .drop-list{
    transition: opacity .2s !important;
}
.nav:not(.responsive) li.dropdown:hover .drop-list, 
.nav.responsive li.dropdown.active .drop-list{
    z-index: 1;
    opacity: 1;
    transform: none;
    height: var(--drop-height);
}

.nav li .drop-list li{
    padding: 5px;
    font-size: calc(1vmin + .7rem);
    border: none;
    text-align: left;
    color: var(--primary-blue);
}
.nav li .drop-list li:hover{
    background-color: var(--primary-blue);
    color: var(--secondary-white);
}

.nav ul.menus .menu-toggle,
.nav .menu-toggle {
    width: 22px;
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--primary-white);
}

.nav.responsive,
.nav.sticky {
    --nav-main-width: 200px;
    --nav-main-height: 70px;
    background-color: var(--primary-blue);
}
.nav.responsive .nav-main button,
.nav.sticky .nav-main button {
    display: none ;
}
.nav.responsive .nav-main,
.nav.sticky .nav-main {
    flex-direction: column;
}
.nav.responsive ul.menus .menu-toggle,
.nav.sticky .menu-toggle {
    display: flex;
}
.nav.responsive ul.menus .menu-toggle {
    width: 22px;
    position: sticky;
    top:0;
    padding: 30px 30px 20px 0;
    width: 100%;
    justify-content: flex-end;
    background-color: inherit;
    z-index: 1000;
}
.nav.responsive ul.menus,
.nav.sticky ul.menus {
    position: absolute;
    right: -999px;
    top: 0px;
    min-height: 110vh;
    width: 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--primary-blue);
    color: var(--secondary-white);
    padding-bottom: 10vh;
    opacity: 0;
    overflow-y: scroll;
    transition: right 0.3s ease;
}


.nav.responsive ul.menus {
    right: 0;
    opacity: 1;
}

.nav.responsive ul.menus::-webkit-scrollbar-thumb{
    background-color: var(--tertiary-blue);
}
.nav.responsive ul.menus li,
.nav.sticky ul.menus li {
    flex-wrap: wrap;
    max-height: max-content;
    padding: 10px;
    border: none !important;
}
.nav.responsive ul.menus > li:has(a.active),
.nav.responsive ul.menus > li:not(.dropdown.active):hover,
.nav.sticky ul.menus > li:has(a.active),
.nav.sticky ul.menus > li:not(.dropdown.active):hover {
    background-color: var(--secondary-white);
    color: var(--primary-blue);
}
.nav.responsive ul.menus li,
.nav.sticky ul.menus li {
    margin: 5px 10px;
    font-size: 1rem;
}
.nav.responsive li a,
.nav.sticky li a {
    width: 100%;
}
.nav.responsive li .drop-list{
    flex: 1 1 100%;
    position: relative;
    top: 0;
    width: 250px;
    overflow: hidden;
    background-color: var(--primary-white);
    color: var(--primary-blue);
    opacity: 1;
}

.nav ul.menus > li:has(a.active),
.nav ul.menus > li:hover {
    color: var(--secondary-blue);
}
.nav ul.menus > li:has(a.active){
    font-weight: bold;
}


.nav.responsive .dropdown.active .drop-list{
    margin-top: 10px;
}
.nav li.dropdown.active .drop-list li{
    margin: 0 !important;
}
/*Animations*/
@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-1221px);
    }
}


@media screen and (max-width: 900px) {
    .nav {
        --nav-main-width: 200px;
        --nav-main-height: 70px;
    }

    .nav .nav-main button {
            display: none;
    }

    .nav {
        background-color: var(--primary-blue);
    }
    .nav li{
        padding: 10px;
    }

    .nav-main {
        flex-direction: column;
    }

    .nav .menu-toggle {
        display: flex;
    }

    .nav ul.menus {
        position: absolute;
        right: -999px;
        top: 70px;
        height: 100vh;
        width: 200px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        z-index: inherit;
        opacity: 0;
        background-color: var(--primary-blue);
        color: var(--secondary-white);
        transition: 0.4s;
    }

    .nav ul li {
        margin: 5px 10px;
        font-size: 1rem;
    }

    .nav li a {
        width: 100%;
    }

}